<mat-horizontal-stepper>
  <mat-step>
    <ng-template matStepLabel> Sus Productos </ng-template>
    <div *ngIf="products$ | async as products">
      <h3 *ngIf="products.length === 0"> No hay productos</h3>
      <div class="row" *ngFor="let product of products">
        <div class="col-xs-12 col-sm-2 col-md-2">
          <div class="box">
            <img class="image" [src]="product.image" [alt]="product.title" />
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5">
          <div class="box">
            {{ product.title }}
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5">
          <div class="box">
            {{ product.price|currency: '$'  }}
          </div>
        </div>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel> Datos personales </ng-template>
    <h2>Contenido</h2>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel> Pagos </ng-template>
    <h2>Contenido</h2>
  </mat-step>
</mat-horizontal-stepper>
