<form [formGroup]="form" (ngSubmit)="saveProduct($event)">
  <mat-card>
    <mat-card-title>
      Producto
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input placeholder="ID" formControlName="id" matInput type="text" >
      </mat-form-field>
      <mat-form-field>
        <input placeholder="Title" formControlName="title" matInput type="text" >
      </mat-form-field>
      <mat-form-field>
        <input placeholder="Price" formControlName="price" matInput type="number" >
        <mat-error *ngIf="priceField.hasError('price_invalid')">Éste campo es mayor de 10000</mat-error>
        <mat-error *ngIf="priceField.hasError('required')">Es obligatorio</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea placeholder="Description" formControlName="description" matInput  ></textarea>
      </mat-form-field>
      <img *ngIf="(image$ | async) as image" [src]="image" alt="Image product">
      <input type="file" (change)="uploadFile($event)">
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit" [disabled]="form.invalid" >Guardar</button>
    </mat-card-actions>
  </mat-card>
</form>