<input type="text" [(ngModel)]="title">
{{title}}

<div *ngIf=" title === 'Alfredo' ">
  este es no es un div
</div>
<div [ngSwitch]="title" >
  <p *ngSwitchCase="'alfredo'" >alfredo</p>
  <p *ngSwitchCase="'ixchel'" >ixchel</p>
  <p *ngSwitchCase="'maritza'" >maritza</p>
  <p *ngSwitchCase="'porfirio'" >porfirio</p>

</div>

<button (click)="addItem()">Add item</button>

<ul>
  <li *ngIf="items.length === 0">La lista esta vacía</li>
  <li *ngFor="let item of items; index as i"> 
    {{item}} {{i}}
    <button (click)="deleteItem(i)">Delete</button>
  </li>
</ul>
<div class="container" *ngFor="let product of products">
  {{product.title}}
  {{product.price}}
  <img [src]="product.image" alt="">
</div>